= link_to article_path(article) do
  .card
    .card_image
      = image_tag 'Photo.png'
    .card_content
      .card_title
        = article.title
      .card_heart
      .card_detail
        = image_tag 'Oval2.png'
        %div
