.container
  .identical
    Brackets
  .aaa
    =link_to 'All Boards', boards_path
  - @articles.each do |article|
    = render 'commons/article', article: article
  = link_to new_article_path	do
    .float-btn
      .add
        + Add new card
  
