  <h1 class="title"><%= @article.title %></h1>
<div class="article">
  <div class="article_detail">
    <%= image_tag 'Oval.png' %>
    <div>
    </div>
  </div>
  <div class="article_content">
    <%= @article.content %>
  </div>
  
</div>