= link_to board_path(board) do
  .card
    -# .card_image
    -#   = image_tag 'Oval4.svg'
    .card_content
      .card_title
        = board.title
      .card_detail
        = image_tag 'Oval4.svg'
        %div
          %p= board.user.display_name
