.container
  .tabs
    .identical
      All Boards
    .aaa
      = link_to 'Brackets', root_path
    - @boards.each do |board|
      = render 'board', board: board
  = link_to new_board_path	do
    .float-btn
      .add
        + Add new ToDo
