@import 'header';
@import 'tabs';
@import 'variables';
@import 'card';
@import 'article';
@import 'buttons';
@import 'form';
@import 'flash';
@import 'common';


html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  background-color: $base-bg-color;
  font-size: 1em;
  color: $text-base-color;
}

a {
  text-decoration: none;
  color: $text-base-color;
}

.container {
  padding: 16px 16px;
  width: 100%;
}

.float-btn{
  // position: absolute;
  width: 362px;
  height: 160px;
  margin: 4%;
  // left: 30px;
  // top: 917px;

  background: #FFFFFF;
  border: 3px dashed rgba(0, 0, 0, 0.2);
  border-radius: 10px;

}

.add{
  // position: absolute;
  margin: 62px;
left: 0%;
right: 0%;
font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
text-align: center;
color: #000000;
}