@import './variables'; 

.btn-primary {
  background-color: #F8BD1C;
  border-radius: 4px;
  border: none;
  width: 100%;
  text-align: center;
  color: black;
  padding: 16px 0;
  font-weight: bold;
  font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 25px;
color: #FFFFFF;

}
