@import 'variables';

$avatar-size: 40px;
$header-padding-y: 16px;

.header {
  display: flex;
  justify-content: space-between;
  background-color: $primary-color;
  padding: $header-padding-y 16px;
  font-weight: bold;

  &_pageTitle {
    color: #000000;
    line-height: $avatar-size;
    font-size: $font-lg;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
  }

  &_avatar {
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 100%;
  }
}

.line {
  position: absolute;
  width: 1920px;
  height: 1px;
  left: 0px;
  top: 58px;

  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.1;
}
